*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

html {
  max-width: 80rem;
}

body {
  font: 100% Verdana;
}

/* Header Section */
.header {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1;
  width: 100vw;
  max-width: 80rem;
  padding: 0.625rem 0 0.625rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  text-decoration: none;
  color: #335576;
  margin: 0 0 0 6.25rem;
}
.header__title--decorate {
  font-size: 1.125rem;
}

.nav-bar {
  margin: 0 6.25rem 0 0;
}
.nav-bar__list {
  display: flex;
  list-style: none;
}
.nav-bar__item {
  padding: 0.625rem;
}
.nav-bar__item--decorate {
  text-decoration: none;
  color: #393939;
  font-weight: 500;
  font-size: 13px;
}

.hawaii-underline {
  border-bottom: 0.1875rem solid #DB7A4E;
  padding: 0.625rem 0 0.625rem 0;
  margin: 0 0.625rem 0 0.625rem;
}

.iceland-underline {
  border-bottom: 0.1875rem solid #DB7A4E;
  padding: 0.625rem 0 0.625rem 0;
  margin: 0 0.625rem 0 0.625rem;
}

.greece-underline {
  border-bottom: 0.1875rem solid #DB7A4E;
  padding: 0.625rem 0 0.625rem 0;
  margin: 0 0.625rem 0 0.625rem;
}

/* Body Section */
.container {
  max-width: 80rem;
}
.container-hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80rem;
  min-height: 44.0625rem;
  max-height: 15.625rem;
}
.container-iceland {
  background-image: url("../assets/Images/iceland.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80rem;
  min-height: 44.0625rem;
}
.container-greece {
  background-image: url("../assets/Images/greece.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 80rem;
  min-height: 44.0625rem;
}
.container__title-box {
  position: relative;
  max-width: 80rem;
  height: 250px;
}
.container__title-box-text {
  position: absolute;
  color: #FFFFFF;
  top: 6.875rem;
  left: 6.25rem;
  font-size: 65px;
}
.card-container {
  max-width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -0.625rem 0 0 0;
}

.card {
  border-radius: 0.3125rem;
  min-width: 15.625rem;
  max-width: 15.625rem;
  min-height: 21.875rem;
  max-height: 23.125rem;
  background-color: #FFFFFF;
  margin: 0 1.25rem 0 1.25rem;
}
.card__title {
  text-align: center;
  border-bottom: 0.1875rem solid black;
  margin: 0.9375rem 0.9375rem 1.875rem 0.9375rem;
  font-weight: 800;
  font-size: 1rem;
}
.card__list {
  list-style: none;
  text-align: center;
  margin: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
  font-weight: 300;
  font-size: 0.9375rem;
}
.card__item {
  padding: 0.9375rem 0 0.9375rem 0;
  margin: 0.9375rem 0 0.9375rem 0;
  background-color: #FEFAF5;
}

/* Footer Section */
.footer {
  width: 100vw;
  max-width: 80rem;
  background-color: #FEFAF5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.footer-card__title {
  margin: 2.5rem 0 1.875rem 0;
  color: #335576;
  font-size: 20px;
}
.footer-card__subtitle {
  font-size: 8.5px;
  color: #DB7A4E;
  font-weight: 300;
}
.footer-card__text {
  margin: 0.625rem 0 2.5rem 0;
  font-size: 13px;
  font-weight: 300;
  color: #335576;
}
.footer-card__hours-card {
  margin: 0 6.25rem 0 6.25rem;
}
.footer-card__sub-container {
  display: flex;
}
.footer-card__saturday-box {
  margin: 0 2.5rem 0 2.5rem;
}
.footer-card__social-card {
  height: 10.7775rem;
}
.footer-card__social-title {
  margin-bottom: 2.888875rem;
}

.instagram-icon {
  width: 1.375rem;
  height: 1.375rem;
}

.facebook-icon {
  width: 0.75rem;
  height: 1.375rem;
  margin: 0 1.25rem 0 1.25rem;
}

.twitter-icon {
  width: 1.5625rem;
}/*# sourceMappingURL=destinations.css.map */