@use './partials/global' as *;

*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
    padding: 0;
    margin: 0;
}
html {
    max-width: 80rem;
}
body {
    font: 100% $base-font;
}

/* Header Section */

.header {
    background-color: $white;
    position: fixed;
    z-index: 1;
    width: 100vw;
    max-width: 80rem;
    padding: .625rem 0 .625rem 0;
    @include flex(row, space-between, center);
   
    &__title {
        text-decoration: none;
        color: $blue; 
        margin: 0 0 0 6.25rem;

        &--decorate {
            font-size: 1.125rem;
        }
    }       
}
.nav-bar {
    margin: 0 6.25rem 0 0;

    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        padding: .625rem;

        &--decorate {
            text-decoration: none;
            color: $graphite;
            font-weight: 500;
            font-size: 13px;
        }
    }
}
.hawaii-underline {
    @include underline(.1875rem solid $orange, .625rem 0 .625rem 0, 0 .625rem 0 .625rem);
}
.iceland-underline {
    @include underline(.1875rem solid $orange, .625rem 0 .625rem 0, 0 .625rem 0 .625rem);
}
.greece-underline {
    @include underline(.1875rem solid $orange, .625rem 0 .625rem 0, 0 .625rem 0 .625rem);
}

/* Body Section */

.container {
    max-width: 80rem;
    
    &-hawaii {
        @include background-img(url("../assets/Images/hawaii.jpg"));
        max-height: 15.625rem;
    }
    &-iceland {
        @include background-img(url("../assets/Images/iceland.jpg"));
    }
    &-greece {
        @include background-img(url("../assets/Images/greece.jpg"));
    }
    
    &__title-box {
        position: relative;
        max-width: 80rem;
        height: 250px;
      
        &-text {
            position: absolute;
            color: $white;
            top: 6.875rem;
            left: 6.25rem;
            font-size: 65px; 
        }     
    }
    &__title-iceland {
        
    }
    &__title-greece {
        
    }
}
.card-container {
    max-width: 80rem;
    @include flex(row, center, center);
    margin: -0.625rem 0 0 0;
}
.card {
    border-radius: .3125rem;
    min-width: 15.625rem;
    max-width: 15.625rem;
    min-height: 21.875rem;
    max-height: 23.125rem;
    background-color: $white;
    margin: 0 1.25rem 0 1.25rem;

    &__title {
        text-align: center;
        border-bottom: .1875rem solid black;
        margin: .9375rem .9375rem 1.875rem .9375rem;
        font-weight: 800;
        font-size: 1rem;
        }

    &__list {
        list-style: none;
        text-align: center;
        margin: .9375rem .9375rem .9375rem .9375rem;
        font-weight: 300;
        font-size: .9375rem;
    }    
    &__item {
        padding: .9375rem 0 .9375rem 0;
        margin: .9375rem 0 .9375rem 0;
        background-color: $beige;
    }
    
}



/* Footer Section */

.footer {
    width: 100vw;
    max-width: 80rem;
    background-color: $beige;
    @include flex(row, center, center);
    vertical-align: top;   
}
.footer-card {
    &__title {
        margin: 2.5rem 0 1.875rem 0;
        color: $blue;
        font-size: 20px;
    }
    &__subtitle {
        font-size: $h5-font-size;
        color: $orange;
        font-weight: 300;
    }
    &__text {
        margin: .625rem 0 2.5rem 0;
        font-size: $h4-font-size;
        font-weight: 300;
        color: $blue;
    }
    &__hours-card {
        margin: 0 6.25rem 0 6.25rem;
    }
    &__sub-container {
        display: flex;
    }
    &__saturday-box {
        margin: 0 2.5rem 0 2.5rem;
    }
    &__social-card {
        height: 10.7775rem;
    }
    &__social-title {
        margin-bottom: 2.888875rem;
    }
}
.instagram-icon {
    width: 1.375rem;
    height: 1.375rem;
}
.facebook-icon {
    width: .75rem;
    height: 1.375rem;
    margin: 0 1.25rem 0 1.25rem;
}
.twitter-icon {
    width: 1.5625rem;    
}