*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

html {
  max-width: 80rem;
}

body {
  font: 100% Verdana;
}

/* Header Section */
.header {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1;
  width: 100vw;
  max-width: 80rem;
  padding: 0.625rem 0 0.625rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  text-decoration: none;
  color: #335576;
  margin: 0 0 0 6.25rem;
}
.header__title--decorate {
  font-size: 1.125rem;
}

.nav-bar {
  margin: 0 6.25rem 0 0;
}
.nav-bar__list {
  display: flex;
  list-style: none;
}
.nav-bar__item {
  padding: 0.625rem;
}
.nav-bar__item--decorate {
  text-decoration: none;
  color: #393939;
  font-weight: 500;
  font-size: 13px;
}

.home-underline {
  border-bottom: 0.1875rem solid #DB7A4E;
  padding: 0.625rem 0 0.625rem 0;
  margin: 0 0.625rem 0 0.625rem;
}

/* Body */
.hero {
  display: flex;
  padding: 3.75rem 0 0 0;
  background-color: #FEFAF5;
}
.hero-left {
  width: 50vw;
  text-align: left;
}
.hero-left__header {
  margin: 6.25rem 0 0 6.25rem;
  font-weight: 700;
  font-size: 33px;
  color: #335576;
}
.hero-left__text {
  margin: 1.875rem 0 1.875rem 6.25rem;
  font-weight: 400;
  font-size: 14px;
  color: #335576;
  line-height: 1.25rem;
}
.hero-left__link-button {
  margin: 0 0 0 6.25rem;
  font-weight: 400;
  font-size: 14px;
  background-color: #DB7A4E;
  color: #FFFFFF;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
  border: none;
  border-radius: 1.25rem;
}
.hero-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin: 0 0 0 100px;
}
.hero-right__img {
  width: 25rem;
  height: 20.3125rem;
  margin: 3.75rem 0 3.75rem 3.125rem;
}

.recommendations-title {
  width: 100vw;
  color: #335576;
  margin: 3.125rem 0 1.5625rem 6.25rem;
  font-size: 20px;
}

.card-container {
  max-width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}

.card {
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  min-width: 15.625rem;
  max-width: 15.625rem;
  min-height: 23.125rem;
  max-height: 23.125rem;
  margin: 0 1.25rem 5rem 1.25rem;
  position: relative;
}
.card-hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-iceland {
  background-image: url("../assets/Images/iceland.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-greece {
  background-image: url("../assets/Images/greece.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__text {
  color: #FFFFFF;
  position: absolute;
  bottom: 0.9375rem;
  right: 1.25rem;
}

/* Footer Section */
.footer {
  width: 100vw;
  max-width: 80rem;
  background-color: #FEFAF5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.footer-card__title {
  margin: 2.5rem 0 1.875rem 0;
  color: #335576;
  font-size: 20px;
}
.footer-card__subtitle {
  font-size: 8.5px;
  color: #DB7A4E;
  font-weight: 300;
}
.footer-card__text {
  margin: 0.625rem 0 2.5rem 0;
  font-size: 13px;
  font-weight: 300;
  color: #335576;
}
.footer-card__hours-card {
  margin: 0 6.25rem 0 6.25rem;
}
.footer-card__sub-container {
  display: flex;
}
.footer-card__saturday-box {
  margin: 0 2.5rem 0 2.5rem;
}
.footer-card__social-card {
  height: 10.7775rem;
}
.footer-card__social-title {
  margin-bottom: 2.888875rem;
}

.instagram-icon {
  width: 1.375rem;
  height: 1.375rem;
}

.facebook-icon {
  width: 0.75rem;
  height: 1.375rem;
  margin: 0 1.25rem 0 1.25rem;
}

.twitter-icon {
  width: 1.5625rem;
}/*# sourceMappingURL=main.css.map */