@use './partials/global' as *;

*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
    padding: 0;
    margin: 0;
}
html {
    max-width: 80rem;
}
body {
    font: 100% $base-font;
    
}

/* Header Section */ 

.header {
    background-color: $background-color;
    position: fixed;
    z-index: 1;
    width: 100vw;
    max-width: 80rem;
    padding: .625rem 0 .625rem 0;
    @include flex(row, space-between, center);
   
    &__title {
        text-decoration: none;
        color: $logo-color; 
        margin: 0 0 0 6.25rem;
    }       
}
.nav-bar {
    margin: 0 6.25rem 0 0;

    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        padding: .625rem;

        &--decorate {
            text-decoration: none;
            color: $nav-link-color;
            font-weight: 500;
        }
    }
}
.home-underline {
    @include underline(.3125rem solid $orange, .625rem 0 .625rem 0, 0 .625rem 0 .625rem);
}

/* Body */
.hero {
    display: flex;
    padding: 3.75rem 0 0 0;
    background-color: $footer-background-color;

    &-left {
        width: 50vw;
        text-align: left;
        

        &__header {
            margin: 6.25rem 0 0 6.25rem;
            font-weight: 700;
            font-size: 1.875rem;
            color: $logo-color;
        }
        &__text {
            margin: 1.875rem 0 1.875rem 6.25rem;
            font-weight: 400;
            font-size: .9375rem;
            color: $logo-color;
        }
        &__link {

            &-button {
            margin: 0 0 0 6.25rem;
            font-weight: 400;
            font-size: .9375rem;
            background-color: $orange;
            color: $background-color;
            padding: .625rem 2.8125rem .625rem 2.8125rem;
            border: none;
            border-radius: 1.25rem;
            }
        }
    }
    &-right {
        @include flex(row, center, center);
        width: 30vw;
        margin: 0 0 0 100px;

        &__img {
           width: 350px;
           height: 300px;
           margin: 60px 0 60px 0;

        }
    }
}

.recommendations-title {
    width: 100vw;
    color: $logo-color;
    margin: 3.125rem 0 1.5625rem 6.25rem;

}
.card-container {
    max-width: 80rem;
    @include flex(row, center, center);
    margin: 0 0 0 0;
}
.card {
    border-radius: .3125rem;
    border: .0625rem solid rgba(0, 0, 0, 0.20);
    box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.20);
    min-width: 17.5rem;
    max-width: 17.5rem;
    min-height: 24.375rem;
    max-height: 24.375rem;
    margin: 0 1.25rem 5rem 1.25rem;
    position: relative;


    &-hawaii {
        @include background-card-img(url("../assets/Images/hawaii.jpg"))
    }
    &-iceland {
        @include background-card-img(url("../assets/Images/iceland.jpg"))
    }
    &-greece {
        @include background-card-img(url("../assets/Images/greece.jpg"))
    }

    &__text {
        color: #FFFFFF;
        position: absolute;
        bottom: .9375rem;
        right: 1.25rem;
    }
   
}



/* Footer Section */

.footer {
    width: 100vw;
    max-width: 80rem;
    background-color: $footer-background-color;
    @include flex(row, center, center);
    vertical-align: top;   
}
.footer-card {
    &__title {
        margin: 2.5rem 0 1.875rem 0;
        color: $footer-title-text-color;
    }
    &__subtitle {
        font-size: $h5-font-size;
        color: $orange;
        font-weight: 300;
    }
    &__text {
        margin: .625rem 0 2.5rem 0;
        font-size: $h4-font-size;
        font-weight: 300;
        color: $footer-title-text-color;
    }
    &__hours-card {
        margin: 0 6.25rem 0 6.25rem;
    }
    &__sub-container {
        display: flex;
    }
    &__saturday-box {
        margin: 0 2.5rem 0 2.5rem;
    }
    &__social-card {
        height: 10.7775rem;
    }
    &__social-title {
        margin-bottom: 2.888875rem;
    }
}
.instagram-icon {
    width: 1.25rem;
    height: 1.25rem;
}
.facebook-icon {
    width: .625rem;
    height: 1.25rem;
    margin: 0 1.25rem 0 1.25rem;
}
.twitter-icon {
    width: 1.25rem;    
}

