$white: #FFFFFF;
$blue: #335576;
$graphite: #393939;
$beige: #FEFAF5;
$orange: #DB7A4E;
$base-font: Verdana;
$h5-font-size: 8.5px;
$h4-font-size: 13px;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
@mixin underline($border-bottom, $padding, $margin) {
    border-bottom: $border-bottom;
    padding: $padding;
    margin: $margin;
}
@mixin background-img($img-source) {
    background-image: $img-source;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 80rem;
    min-height: 44.0625rem;
}
@mixin background-card-img($img-source) {
    background-image: $img-source;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin tablet {
    @media screen and (min-width: 870px) {
        @content;
    }
}

