$background-color: #FFFFFF;
$logo-color: #335576;
$nav-link-color: #393939;
$footer-background-color: #FEFAF5;
$footer-title-text-color: #335576;
$orange: #DB7A4E;
$base-font: Verdana;
$h5-font-size: .53125rem;
$h4-font-size: .875rem;
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
@mixin underline($border-bottom, $padding, $margin) {
    border-bottom: .3125rem solid $orange;
    padding: .625rem 0 .625rem 0;
    margin: 0 .625rem 0 .625rem;
}
